
.swiper-slide{
    height: auto;
    width: auto;
}

.header__contacts {
        @extend %flexStyle;
        padding: 0px 40px;
        align-items: center;
        max-width: 1272px;
        height: 167px;
        border-radius: 90px;
        margin-top: 103px;
        background: radial-gradient(50% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
    }


.header__contacts--location{
    @extend %flexStyleCenter;
    column-gap: 20px;
    max-width: 460px;
    .header__contacts--item {
       @extend %flexStyleColumn;
       gap: 9px;
       justify-content: center;
       align-items: flex-start;
    }   
}
.header__contacts--tell{
    @extend %flexStyleCenter;
    column-gap: 20px;
    max-width: 375px;
    .header__contacts--tell--item {
        @extend %flexStyleColumn;
        gap: 9px;
        justify-content: center;
        align-items: flex-start;
    }
}
 .header__contacts--mail{
    @extend %flexStyleCenter;
    column-gap: 20px;
    max-width: 440px;
    .header__contacts--mail--item {
       @extend %flexStyleColumn;
       gap: 9px;
       justify-content: center;
       align-items: flex-start;
    }
}

.header__contacts--title {
    @include fontStyle(24px, 700, 29px);
    color: $white;
}

.header__contacts--subtitle {
    @include fontStyle(14px, 400, 17px);
    color: $white;
}

.header__vertical{
    height: 115px;
}
.header-contacts__img{
    cursor: pointer;
}

.header-slider .swiper-button-next::after,
.header-slider .swiper-button-prev::after {
    content: '';
}

@media(max-width:1100px){

        .header__contacts {
            max-width: 1272px;
            height: 137px;
            margin-top: 73px;
        }
    
        .header__contacts--title {
            font-size: 20px;
        }
    
        .header__contacts--subtitle {
            font-size: 12px;
        }
    
        .header__vertical {
            height: 100px;
        }
}

@media(max-width:980px) {
    
    .header__contacts {
        height: 100px;
    }

    .header__contacts--title {
        font-size: 15px;
    }

    .header__contacts--subtitle {
        font-size: 10px;
    }

    .header__vertical {
        height: 90px;
    }
}

@media(max-width:870px) {

    .header__contacts {
        height: 100px;
    }

    .header__contacts--title {
        font-size: 12px;
    }

    .header__contacts--subtitle {
        font-size: 8px;
    }

    .header__vertical {
        height: 80px;
    }
}

@media(max-width:770px) {
    .header__contacts {
        height: 100px;
        padding: 0 20px;
    }

.header__contacts--location {
    column-gap: 10px;
    .header__contacts--item {
        gap: 0px;
    }
}

.header__contacts--tell {
    column-gap: 20px;

    .header__contacts--tell--item {
        gap: 0px;
    }
}

.header__contacts--mail {
    column-gap: 10px;
    

    .header__contacts--mail--item {
        gap: 0px;
    }
}

    .header__contacts--title {
        font-size: 10px;
    }

    .header__contacts--subtitle {
        font-size: 8px;
    }

    .header__vertical {
        height: 70px;
    }
}

@media(max-width:730px) {
    .header__contacts {
        height: 90px;
        padding: 0 15px;
    }

    .header__contacts--location {
        column-gap: 7px;
        width: 180px;
    }

    .header__contacts--mail {
        column-gap: 10px;

        .header__contacts--mail--item {
            gap: 0px;
        }
    }

    .header__vertical {
        display: none;
    }
}

@media(min-width:700px){
    .custom__btn-header,
    .custom__btn-header1
    {
        display: none;
    }
}
@media(max-width:700px) {

.header-slider{
    padding-right: 30px;
   
    
}

.header__contacts--location,
.header__contacts--tell,
.header__contacts--mail
 {
    gap: 20px;
    align-items: center;
    min-width: 100%;
    min-height: 90px;
    border-radius: 90px;
    background: radial-gradient(50% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
    }

.header__contacts{
    margin-top: 40px;
}
.header__contacts--title {
    display: none;
}

.header__contacts--subtitle {
    font-size: 12px;
}

.custom__btn-header {
    width: 30px;
    height: 30px;
    margin-top: 45px;
    margin-right: 20px;
}

.custom__btn-header1 {
    width: 30px;
    height: 30px;
    margin-top: 45px;
    margin-left: 20px;
}
}

@media(max-width:470px) {
    .header__contacts--item{
    width: 150px;
    gap: 0px;
    }
     .header__contacts--mail {
         column-gap: 5px;
     }
}